
.titleUp {
font-size: 80px;
font-weight: 400;
color: #fff;
margin: 0;
}
.titleDown {
font-size: 64px;
font-weight: 400;
color: #fff;
margin: 0;
}
.desc {
font-size: 16px;
font-weight: 300;
color: #fff;
margin-top: 28px;
}