.header {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    &_container {
        backdrop-filter: blur(20px);
        padding: 28px 41px 28px 41px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        &__open{
            height: 100vh;
            backdrop-filter: blur(20px);
            padding: 28px 41px 28px 41px;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        &_logo {
            display: flex;
            flex-direction: column;
            color: #fff;
            font-weight: 600;
            font-size: 20px;
            margin: 0;

            &__text {
                margin: 0;
                font-weight: 600;

                &__bottom {
                    font-weight: 400;
                }
            }
        }

        &_nav {
            text-transform: uppercase;
            color: #fff;
            display: flex;
            &__open{
                align-items: center;
                color: #fff;
                display: flex;
                justify-content: center;
                flex-direction: column;
                :nth-child(1n) {
                    font-size: 32px;
                }
            }
            &__text {
                &:hover {
                    border-bottom: 1px solid #fff;
                }
                cursor: pointer;
                margin-right: 42px;
                font-size: 16px;
                &__open {
                    cursor: pointer;
                    margin-top: 20px;
                    &:hover {
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }

        &_socialIcon {
            display: flex;
            &>svg {
                cursor: pointer;
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
            &__open{
                display: flex;
                margin-top: 20px;
                &>svg {
                    cursor: pointer;
                    &:not(:last-child) {
                        margin-right: 30px;
                    }
                } 
            }
        }
    }
}
.qrPopup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(29, 29, 29, 0.3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    &_wrapper {
        padding: 20px 31px;
        background: rgb(24, 24, 24);
        border-radius: 16px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &_title {
            color: #ffffff;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 20px;
            max-width: 277px;
            width: 100%;
            text-align: center;
            .icon_title {
                width: 27px;
                height: 14px;
                display: inline-block;
                margin-left: 5px;
                position: relative;
            }
        }

        &_icon {
            margin-bottom: 15px;
            // width: 120px;
            // height: 120px;
        }
    }}