.PurpleCircle{
    position: absolute;
    width: 600px;
    height: 600px;
    background: linear-gradient(90deg, #FB03F5, #AA9CFF);
    top: -200px;
    left: -150px;
    border-radius: 50%;
    z-index: -10;
    filter: blur(140px)
}