$mobile: 790px;
.headline {
  display: flex;
  padding-top: 170px;
  align-items: left;
  margin-left: 40px;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  @media screen and (max-width: $mobile){
    margin-left: 0;
  }
  
  &_contentLeft {
    max-width: 890px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    @media screen and (max-width: $mobile){
    text-align: center;
    }
    
    &_bottom{
      display: flex;
      align-items: center;
      margin-top: 40px;
      @media screen and (max-width: $mobile){
        justify-content: center;
      }
    &_powered {
      display: flex;
      flex-direction: column;
      font-size: 13px;
      color: #fff;
      :last-child {
        margin-top: 7px;
      }
    }
    &__button{
      margin-left: 36px;
    }
  }
  }

  &_contentRight {
    z-index: -10;
    position: absolute;
    left: 1200px;
    top: 50px;
    width: 300px;
    height: 300px;
  }

}
.marque {
  display: flex;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  align-items: center;
  height: 76px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 100%;
  text-transform:  uppercase;
  margin-top: 270px;
  white-space: nowrap;
  :nth-child(2n){
    margin-left: 10px;
    margin-right: 10px;
  }
}